################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Day01/HelloCSharp/.vs/HelloCSharp/FileContentIndex/e3d3dacf-deb4-4aed-a73b-96c2c5acac35.vsidx
/Day02/HelloCSharpWin/.vs/HelloCSharpWin/FileContentIndex
/Day03/Caculator/.vs/Caculator/FileContentIndex
